<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<sql id="boardListSql">
		SELECT B.BOARD_NO,
		       M.USER_ID,
		       B.BOARD_TITLE,
		       B.BOARD_CONTENT,
		       B.BOARD_READCOUNT,
		       B.BOARD_CREATE_DATE,
		       B.STATUS
		FROM BOARD B
		JOIN MEMBER M ON(B.BOARD_WRITER_NO = M.USER_NO)		
		WHERE B.STATUS='Y'	
	</sql>

	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardReadCount" column="BOARD_READCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="boardCreateDate" column="BOARD_CREATE_DATE"/>	
	</resultMap>

	<select id="selectBoardList" parameterType="map" resultMap="boardResultMap">
		<include refid="boardListSql"></include>
		<choose>
			<when test="writer != null">
				AND M.USER_ID LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND	B.BOARD_TITLE LIKE '%' || #{title} || '%'
			</when>
			<when test="content != null">
				AND	B.BOARD_CONTENT LIKE '%' || #{content} || '%'
			</when>
			<otherwise>
				<!-- 위의 조건 중 하나도 만족하지 않는 경우 포함될 쿼리 작성 -->
			</otherwise>
		</choose>	
	
		<!-- 
		<include refid="boardListSql"></include>
		
		<where> 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="writer != null">
				M.USER_ID LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
				AND	B.BOARD_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
				AND	B.BOARD_CONTENT LIKE '%' || #{content} || '%'		
			</if>
			AND B.STATUS='Y'
		</trim>		 	
		</where>	 
		 -->
	</select>
	
	<select id="selectBoardCountByFilters" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
		<if test="filters != null">		
			AND BOARD_TYPE IN
			<foreach collection="filters" item="filter"
				index="i" open="(" separator="," close=")">
				#{filter}
			</foreach>		
		</if>
	</select>
	
	<select id="selectBoardListByFilters" parameterType="map" resultMap="boardResultMap">
		<include refid="boardListSql"></include>
		<if test="filters != null">
			<!--  
				AND B.BOARD_TYPE IN ('B2', 'B3')
				
				위 결과를 만들기 위해 foreach 태그를 사용한다.
				collection : 배열, 리스트, 컬렉션..
				item : 배열, 리스트의 각 요소들의 값이 들어가는 변수
				index : 반복횟수(0부터 시작한다.)
				open : 반복문 시작전에 출력할 문자
				close : 반복문 끝나고 출력할 문자
				separator : 반복할때마다 반복을 구분할 문자
			-->
			
			AND B.BOARD_TYPE IN
			<foreach collection="filters" item="filter"
				index="i" open="(" separator="," close=")">
				#{filter}
			</foreach>		
		</if>
		ORDER BY B.BOARD_NO DESC	
	</select>
</mapper>